@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap');
#root, html ,body {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    font-size: 1.5em;
    padding: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading {
    font-size: fit-content;
}

.card {
    background-color: lightblue;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 3px 3px 1rem black;
}

button {
    font-size: 1.5rem;
    border: none;
    background: lightcyan;
    border-radius: 25px;
    cursor: pointer;
    padding: 1rem;
}

button:hover {
    background-color: cyan;
}